{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/homepage.css'%}">
    <link rel="stylesheet" href="{% static 'css/cities.css'%}">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://kit.fontawesome.com/5af3974b3f.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'img/logo-2.png'%}" type="image/x-icon"/>

    <title>İl Başkanlıkları</title>
</head>
<body style="background: url('{% static "img/black-back.png" %}');">

    {% load static %}

  {% include '_navbar.html'%}


   <section id='cities'>
        <div class="container row mx-auto">
            {% for city in cities %}
                <div class="col-sm-2 text-center mb-5">
                    <div onclick="location.href = 'iller/{{city.Sehir_Ismi}}'" class="mx-auto wrapper text-white " style="height: 100px; width: 100px; border-radius: 50%; ">
                        <span class="plaka-kodu align-middle">{{ city.Sehir_Plaka_Kodu }}</span>
                    </div>
                    <p class="city-name" >{{ city.Sehir_Ismi }}</p>
                </div>
            {% endfor %}
        </div>
   </section>
    {% include '_footer.html' %}

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v17.0" nonce="Ss5egiqo"></script>    
    <script src="index.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/5af3974b3f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>