#person { 
    margin-top: 200px;
    margin-bottom: 200px;
}

.leader-name { 
    font-size: 36px;
    font-family: 'Montserrat' , sans-serif;
}

.leader-bio { 
    border-radius: 1%;

    text-align: justify;
    text-justify: inter-word;
}



.leader-adjective { 
    
    font-family:'Montserrat' , sans-serif;
    font-weight: 500;
    width: 70%;
    background-color: burlywood;
    
}