{% load static %}
<section id="footer">
    <div class="footer row w-75 mx-auto">
      <div class="col-sm-3 my-5 justify-content-center">
        <img class="w-75" src="{% static 'img/15temmuz-logo-beyaz.png'%}" alt="" style="margin-left: 12%;">
        <h4 class="text-white text-center" >15 TEMMUZ FEDERASYONU</h4>
      </div>
     
      <div class="col-sm-3 row my-5" style="height: fit-content;">
        <h4 class="text-white col-12 text-center mb-3" >Genel Merkez</h4>
        
        <div class="loc-svg col-3">
          {% include 'location.svg' %} 
          
        </div>
          <p class="col-9">Kavaklıdere, Büklüm Cd No:7 D:8, Çankaya/Ankara</p>
        <div class="phone-svg col-3 mt-3">
          {% include 'phone.svg' %} 
          
        </div>
          <p class="col-9 mt-4 my-auto">0 543 880 641</p>
    </div>
      <div class="col-sm-3 row my-5" style="height: fit-content;">
        <h4 class="text-white col-12 text-center mb-3" >Bağlantılar</h4>
        <a href="#" class="text-center links">Ana Sayfa</a>
        <a class="text-center links">Ana Sayfa</a>
        <a class="text-center links">Ana Sayfa</a>
        <a class="text-center links">Ana Sayfa</a>
        <a class="text-center links">Ana Sayfa</a>
        <a class="text-center links">Ana Sayfa</a>
    </div>
      <div class="col-sm-3 row my-5" style="height: fit-content;">
        <h4 class="text-white col-12 text-center mb-3" >Kurumsal Hesaplarımız</h4>
          <a class="col-4 mt-3 facebookF"  href="#"><i class="fa fa-facebook fa-2xl ms-3"></i></a>
          <a class="col-4 mt-3 instagramF"  href="#"><i class="fa fa-instagram fa-2xl ms-3"></i></a>
          <a class="col-4 mt-3 twitterF"  href="#"><i class="fa fa-twitter fa-2xl ms-3"></i></a>
    </div>
    </div>
     

  </section>
