{% load static %}
<section id="footer">
    <div class="footer row w-75 mx-auto">
      <div class="col-sm-3 my-5 text-center">
        <img class="w-50" src="{% static 'img/15temmuz-logo-beyaz.png'%}" alt="15 Temmuz Federasyonu Logo">
        <h4 class="text-white text-center" style="width: fit-content;" >15 TEMMUZ FEDERASYONU</h4>
      </div>
     
      <div class="col-sm-3 row my-5" style="height: fit-content;">
        <h4 class="text-white col-12 text-center mb-3" >Genel Merkez</h4>
        
        <div class="loc-svg col-3">
          {% include 'location.svg' %} 
          
        </div>
          <p class="col-9">Kavaklıdere, Büklüm Cd No:7 D:8, Çankaya/Ankara</p>
        <div class="phone-svg col-3 mt-3">
          {% include 'phone.svg' %} 
          
        </div>
          <p class="col-9 mt-4 my-auto">0 543 880 6416</p>
    </div>
      <div class="col-sm-3 row my-5" style="height: fit-content;">
        <h4 class="text-white col-12 text-center mb-3" >Bağlantılar</h4>
        <a href="../home" class="text-center links">Ana Sayfa</a>
        <a href="../genelbaskanlik" class="text-center links">Genel Merkez</a>
        <a href="../iller" class="text-center links">İl Başkanlıkları</a>
        <a href="../bagislar" class="text-center links">Bağış Yap</a>
        <a href="../sehitler" class="text-center links">Aziz Şehitlerimiz</a>
        <a href="../basin" class="text-center links">Basın</a>
        <a href="../iletisim" class="text-center links">İletişime Geç</a>
    </div>
      <div class="col-sm-3 row my-5" style="height: fit-content;">
        <h4 class="text-white col-12 text-center mb-3" >Kurumsal Hesaplarımız</h4>
          <a class="col-3 mt-3 facebookF"  href="https://www.facebook.com/temmuz.federasyon"><i class="fa fa-facebook fa-2xl ms-3"></i></a>
          <a class="col-3 mt-3 instagramF"  href="https://www.instagram.com/temmuzfederasyon/"><i class="fa fa-instagram fa-2xl ms-3"></i></a>
          <a class="col-3 mt-3 twitterF"  href="https://twitter.com/15temfederasyon"><i class="fa fa-twitter fa-2xl ms-3"></i></a>
          <a class="col-3 mt-3 youtubeF"  href="https://www.youtube.com/channel/UCBILSIl3WHSIRP2WsAU0FLg"><i class="fa fa-youtube fa-2xl ms-3"></i></a>
    </div>
    </div>

    <div style="background-color: rgb(47, 47, 47);" class="footer  mx-auto text-center">
        <a style="color: white;" href="../policy">BAĞIŞ POLİTİKASI</a>
    </div>
     

  </section>
