{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet"/>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/homepage.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://kit.fontawesome.com/5af3974b3f.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script src="{%static 'js/script.js'%}" defer></script>
    <link rel="icon" href="{% static 'img/logo-2.png'%}" type="image/x-icon"/>
    <title>15 Temmuz Federasyonu</title>
</head>
<body>

  {% include '_navbar.html' %}
  
  <section id="coverr">
    <div class="containerr mx-auto">
      <div class="row w-100">
        
      </div>
    </div>
    <div class="row w-100 home-drc " style="margin-top: 200px; width: 100%;">
              <div class="col-sm-6 mx-auto ">
                <p class="home-text text-start text-wrap">"Savaşta kaybedilen her bir çocuk, dünyamızın yitirdiği bir umut ışığıdır; kalplerimiz, barışın gücüyle dolup taşmalı, ki bir daha asla çocuklarımızın gözyaşlarına yer olmasın."</p>
                <p class="manager-title text-end">Emre Şahin</p>
                <p class="general-manager-text text-end">Genel Başkan</p>
                <p class="manager-title text-center text-dark">#GazzedeKatliamVar
                </p>
              </div>
              <!--
                <p class="home-text text-start text-wrap">  "Yeryüzünde hiç bir millet yoktur ki vatanı ve devleti uğruna yediden yetmişe canını vermekte tereddüt etmesin:
                işte bu, Büyük Türk Milletidir."</p>
                <div class="col-sm-6 justify-content-end">
                  
                
                  <div class="card rounded-1 mx-auto" style="width: 80%; height: fit-content; background-color: rgb(255, 255, 255);">
                    <div class="card-body row">
                        
                      <h5 class="card-title fw-bold col-lg-12 text-center">DESTEK OL</h5>
                      
                      <hr class="w-75 mx-auto">
                      <p class="card-text col-4 text-center my-auto mini-title">{{donations.0.Baslik}}
                      </p>
                      <p class="card-text col-4 text-center my-auto mini-title">{{donations.1.Baslik}}
                      </p>
                      <div class="card-text col-4 text-center mini-title fs-5"><i class="fa-solid fa-shield-halved fa-2xl" style="color: rgb(255, 166, 0);"></i>
                      </div>
                      <p class="text-center mini-desc col-4 fw-bold"> {{donations.0.Tutar}}TL</p>
                      <p class="text-center mini-desc col-4  fw-bold"> {{donations.1.Tutar}}TL</p>
                      <p class="text-center mini-title col-4 mt-2"> Güvenli Odeme</p>
                      <hr class="w-75 mx-auto">
                      <div class="col-6">
                      <button onclick="location.href='bagislar'" class="text-center card-button"><i class="fa-solid fa-magnifying-glass" style="color: white;"></i> Bilgi Al 
                      </button>
                      </div>
                      <div class="col-6">
                      <button  class="text-center card-button"><i class="fa-solid fa-heart" style="color: white;"></i> Bağış Yap
                      </button>
                    </div>
                      
                    </div>
                  </div>
                  <center>
                    <button onclick="location.href='#donation';" class="button-donate mx-auto rounded-2 fw-bold text-white px-2" style="width: fit-content;">                    
                        BAĞIŞ YAP
                    </button>
                  </center>
                </div>
                  -->
                
              </div>
            </section>
            
            

            <section id="donation" style="width: 100%; height: fit-content;">
              <h1 class="text-center news-text col-12 text-white">BAĞIŞLAR</h1>
              <div class="row donation-packs w-100 mx-auto">
                {% for donation in donations %}
                <div class="col-lg-4 donation-pack mt-1">
                  <div class="card mx-auto rounded-1" style="width: fit-content; height: fit-content; background-color: white ">
                    <div class="card-body row">
                      <h5 class="card-title fw-bold col-lg-12 text-center">{{donation.Baslik}}</h5>
                      
                      <hr class="w-75 mx-auto">
                      <p class="card-text col-4 text-center my-auto mini-title">
                      </p>
                      <p class="card-text col-4 text-center my-auto mini-title">Güvenli ödeme
                      </p>
                      <div class="card-text col-4 text-center mini-title"> 
                      </div>
                      <p class="text-center mini-desc col-4 fw-bold"> <i class="fa-brands fa-cc-visa  fa-2xl" style="color: #000000;"></i></p>
                      <p class="text-center mini-desc col-4  fw-bold"><i class="fa-solid fa-shield-halved fa-xl" style="color: #dfb244;;"></i></p>
                      <p class="text-center mini-desc col-4  "> <i class="fa-brands fa-cc-mastercard  fa-2xl" style="color: #000000;"></i></p>
                      <hr class="w-75 mx-auto">
                      <div class="col-6">
                        <button onclick="location.href='bagislar/{{donation.id}}'" class="text-center card-button"><i class="fa-solid fa-magnifying-glass" style="color: white;"></i> Bilgi Al 
                        </button>
                        </div>
                        <div class="col-6">
                        <button  class="text-center card-button" style="background-color: #dfb244;"><i class="fa-solid fa-heart" style="color: white;"></i> Bağış Yap
                        </button>
                      </div>

                    </div>
                  </div>
                </div>
                {% endfor %}

             
              </div>
              <div class="row w-100 read-more">
                <a type="button" class="btn btn-lg mx-auto mt-4 mb-3" style="background-color: #dfb244;" href="bagislar">TÜM PAKETLER</a>
              </div>
            </section>
              
            <section id="news" style="height: fit-content;">
              <h1 class="text-center news-text col-12">HABERLER</h1>
              <div class="container row mx-auto">
                <div class="col-sm-1"></div>
                {% for new in news%}
                <div class="blog-card col-sm-3 spring-fever mt-4" style="  background: url('{{new.image}}') no-repeat center; background-size: cover;">
                  <div class="title-content">
                    <h3><a href="#">{{new.Title|slice:40}}...</a></h3>
                    <div class="intro"> <a href="#">{{new.subTitle}}</a> </div>
                  </div>
                  <div class="card-info">
                      {{new.Description|slice:60}}...
                    <a href="{{new.Link}}">Haberi oku<span class="licon icon-arr icon-black"></span></a>
                  </div>
                
                </div>
                {% endfor %}
         
                
              <div class="col-sm-1"></div>
               
              </div>

              <div class="row w-100 read-more">
              <a type="button" class="btn btn-lg mx-auto mb-2 mt-4" style="background-color: #dfb244;" href="haberler">TÜM HABERLER</a>
            </div>
            </section>
            
            <section id="sehitler">
              <div class="sehitler_top">
                <h2 style="margin-top: 25px;">AZİZ ŞEHİTLERİMİZ</h2>
                <button class="btn" onclick="location.href='sehitler'" style="background-color: #dfb244 !important;">TÜM ŞEHİTLERİMİZ</button>
                <span class="text-center" ><i class="fa-solid fa-star" style="color: #dd6d03;"></i>15 TEMMUZ 2016<i class="fa-solid fa-star" style="color: #dd6d03;"></i></span>
              </div>
              <div class="my_wrapper">
                <ul class="my_carousel">
                  {%for sehit in sehitler%}
                  <li onclick="location.href = 'sehitler/{{sehit.id}}'" class="my_card">
                    <span style="color: white;">{{sehit.Sehit_Ismi}}</span>
                    <h2 style="color: white;">{{sehit.Sehit_Meslegi}} - {{sehit.Sehit_Dogum_Yili}}</h2>
                    <div class="img"><img src="{{sehit.Sehit_Resmi}}" alt=""></div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
                

            </section>
    

            <section id="social-media" class="mx-auto" style="background:url(../static/img/black-back.png);">
              <h1 class="col-12 text-center news-text">SOSYAL MEDYA</h1>
                <div class="container social-medias row w-100 mx-auto">
                  
                  <div class="cardd mx-auto col-lg-3">
                    <div class="face face1 mx-auto">
                        <div class="content">
                            <div class="icon">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="face face2 mx-auto">
                        <div class="content">
                            <h3>
                                <a href="https://www.instagram.com/temmuzfederasyon/" target="_blank">15 TEMMUZ FEDERASYONU</a>
                            </h3>
                            <p>15 Temmuz Federasyonunu Instagram'da Takip Edin...</p>
                        </div>
                    </div>
                </div>
                <div class="cardd mx-auto col-lg-3">
                    <div class="face face1 mx-auto">
                        <div class="content">
                            <div class="icon">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="face face2 mx-auto">
                        <div class="content">
                            <h3>
                                <a href="https://twitter.com/15temfederasyon" target="_blank">15 TEMMUZ FEDERASYONU</a>
                            </h3>
                            <p>15 Temmuz Federasyonu Twitter Hesabını Takip Edin...</p>
                        </div>
                    </div>
                </div>
                <div class="cardd mx-auto col-lg-3">
                    <div class="face face1 mx-auto">
                        <div class="content">
                            <div class="icon">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="face face2 mx-auto">
                        <div class="content">
                            <h3>
                                <a href="https://www.facebook.com/temmuz.federasyon" target="_blank">15 TEMMUZ FEDERASYONU</a>
                            </h3>
                            <p>15 Temmuz Federasyonu'nu Facebook'ta Takip Edin...</p>
                        </div>
                    </div>
                </div>
                <div class="cardd mx-auto col-lg-3">
                    <div class="face face1 mx-auto">
                        <div class="content">
                            <div class="icon">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="face face2 mx-auto">
                        <div class="content">
                            <h3>
                                <a href="https://www.youtube.com/channel/UCBILSIl3WHSIRP2WsAU0FLg" target="_blank">15 TEMMUZ FEDERASYONU</a>
                            </h3>
                            <p>15 Temmuz Federasyonuna Youtube'da Abone Olun...</p>
                        </div>
                    </div>
                </div>
                
            </div>  
                </div>
                 

              

            </section>
                          
            <section id="july15" style="background: url('../static/img/back.png') no-repeat center fixed; background-size:cover;">
              <div class="container">
                <div class="july15-top">
                  <h4 class="text-center" >15 TEMMUZ GUNU</h4>
                  <p class="text-center">Birlikte Güçlüyüz, 15 Temmuz'un Unutulmaz Kahramanlarıyla!
                  </p>
                </div>
                <div class="july15-content" >
                  <div class="j15-line">
                    {% for tem in temmuz15 %}
                     {% if tem.id|divisibleby:"2" == True %}
                  <div class="row w-100">
                    <div class="col-sm-4 text-end content-text">
                      <h4>{{tem.Title}}</h4>
                      <h4>{{tem.Time}}</h4>
                      <p> {{tem.Description|slice:250}}... <a href="15temmuzgecesi">Gecenin Devamı</a></p>
                    </div>
                    <div class="col-sm-4 text-center">
                      <img class="j15-content-image" src="../{{tem.Image}}" alt="" style="width: 200px; height: 200px; border-radius: 50%;">
                    </div>
                </div>
                {% else %}
                <div class="row w-100">
                  <div class="col-lg-4 offset-lg-4 text-center">
                    <img class="j15-content-image" src="../{{tem.Image}}" alt="" style="width: 200px; height: 200px; border-radius: 50%;">
                  </div>
                  <div class="col-lg-4 text-start content-text">
                    <h4>{{tem.Title}}</h4>
                    <h4>{{tem.Time}}</h4>
                    <p> {{tem.Description|slice:250}}... <a href="15temmuzgecesi">Gecenin Devamı</a></p>
                  </div>
                </div>
                {% endif %}
                <hr class="w-50 mx-auto" style="color: white;">
                {% endfor  %}
                <div class="row w-100">
                  <a href="15temmuzgecesi" class="col-lg-4 more-circle offset-lg-4 mx-auto" style="width: 200px; height: 200px;">
                    <p class="circle-text mt-5">GECENİN <br> DEVAMI <br> ...</p>
                  </a>
                </div>
              </div>
                </div>
              </div>
            </section>
          
            {% include '_footer.html'%}

           
            
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v17.0" nonce="Ss5egiqo"></script>    
        <script src="index.js" type="text/javascript"></script>
        <script src="https://kit.fontawesome.com/5af3974b3f.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
 
            
      </body>
</html>